.team-card {
  border: 0px !important;
  height: 93% !important;
  transition: 0.5s;
}
.team-card:hover {
  background-color: #3c4248;
  cursor: pointer;
  color: #e4e4e4;
  transform: translateY(-5px);
  transition: 0.5s;
}
.team-card-img {
  max-width: 100%;
  width: auto !important;
  max-height: 100%;
}
.title {
  border-bottom: 1px solid rgb(100, 100, 100);
  padding-bottom: 5px;
  width: fit-content;
}
