.team-card {
  border: 0px !important;
  height: 93% !important;
  transition: 0.5s;
}
.team-card:hover {
  background-color: #3c4248;
  cursor: pointer;
  color: #e4e4e4;
  transform: translateY(-5px);
  transition: 0.5s;
}

.title {
  border-bottom: 1px solid rgb(100, 100, 100);
  padding-bottom: 5px;
  width: fit-content;
}
.matches-card {
  border: 0 !important;
}
.venue-team-link {
  color: #cdf9ff !important;
  transition: 0.5s;
  font-weight: 600;
}
.venue-team-link:hover {
  color: rgb(0, 0, 0) !important;
  transition: 0.5s;
}
