.team-detail-card {
  border: 0 !important;
  border-radius: 10px !important;
  /* background: #e2e2e2 !important; */
  color: #585d64 !important;

  background: rgb(191, 191, 191);
  background: linear-gradient(0deg, rgba(191, 191, 191, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.player-card {
  border: 0 !important;
  padding: 1rem;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px !important;
  background: rgb(124, 124, 124);
  background: linear-gradient(180deg, rgba(124, 124, 124, 1) 0%, rgba(48, 48, 48, 1) 100%);
}
.player-card:hover {
  background-color: #4e565d !important ;
  cursor: pointer;
  color: #e4e4e4;
  transform: translateY(-5px);
  transition: 0.5s;
}
.user-profile {
  font-size: 6em;
}
.player-card-name {
  line-height: 13px;
  padding: 5px;
}
.player-card-heading {
  font-size: 12px;
}
.player-card-info {
  padding: 0.5rem;
}
